
.free {

    font-size:96px;
    padding: 160px 20px;
    font: 1em sans-serif;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 2;

    background-color:rgb(250, 223, 190);
    text-align:center;



    

}
.free h1{
    font-weight: bolder;


}
.btn btn-primary{
    color:white;
    padding: 15px 30px;
    line-height: 27px;
    border-radius: 4px;
    font-size:180x;

}
p{
    line-height:2 ;
}

.image {
    text-align:right;
    display: block;
}

    